@use '../helpers' as *;

// Main card
.main-card {
    position: relative;
    align-items: center;
    overflow: hidden;
    width: 27rem;
    height: 10rem;
    text-align: justify;
    border-radius: $main-border-radius !important;
    box-shadow: $card-box-shadow;
    margin-bottom: 15px;
    color: color(main-color) !important;
}

  .card_title {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    background: transparent;
  }
  
  .card_image {
    width: 100%;
    height: 100%;
    border-radius: $main-border-radius;
    object-fit: cover;
    // transition: all 1s;
  }
  
  .card_content {
    position: absolute;
    top: 100px;
    width: 100%;
    background: transparent;
    // height: 20rem;
    // opacity: 0.8;
    // transition: all 1s;
    text-align: center;
    // background: color(dark-body);
    // & h3 {
    //   padding: 1rem;
    //   margin-bottom: 0;
    //   color: color(light);
    //   width: 100%;
    //   // text-align: center;
    // }
    // & p {
    //   // color: color(light);
    // }
  }
.overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, #00000094);
    position: absolute;
    top: 0;
    // border-radius: $main-border-radius;
    opacity: 0.8;
    

  }
