@use './../../../assets/style/helpers/' as *;
@use './../../../assets/style/components/' as *;
@use './../../../assets/style/components/buttons';

// .title{
//     text-align: center;
//     margin: 20px 0;
//     font-size: size(large);
//     font-weight: weight(bold);
//     line-height: 1.1;
//     letter-spacing: 2px;
// }

.my-project{
    top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80vh;
}