<section class="about">
  <div class="about-text">
    <h2>About Me</h2>
    <h4>Hi, I'm Here To Help Your Next Project</h4>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, facere
      deleniti totam dolorum possimus enim impedit. Fugiat obcaecati ipsam
      repellat nam aliquid delectus, culpa maiores libero rerum eius autem
      nobis?
    </p>
    <div class="about-gri">
      <div class="about-in">
        <h5>1. Problem Solving</h5>
      </div>

      <div class="about-in">
        <h5>2. Creative Idea</h5>
      </div>

      <div class="about-in">
        <h5>3. Search a lot</h5>
      </div>

      <div class="about-in">
        <h5>4. High Quality</h5>
      </div>

      <a href="" class="main-btn">Contact Me</a>
    </div>
  </div>
</section>
